

.resizeimage img {
  width: 100%; 
}


body {
  font-family: sans-serif;
  }
  


p{
  font-family:fantasy;
  font-size:50px;
  padding:0;
  margin:0 auto;
}

.h1 {
  font-size: 40px;
  color: rgb(10, 150, 240);
}
.h2 {
  font-size: 25px;
  color: rgb(10, 150, 240);
}

.h {
  font-size: 40px;
  color: rgb(180, 40, 200);
}

.t {
  font-size: 20px;
  color: rgb(10, 150, 240);
}



.gradient { 
	background:radial-gradient(#fff, #56C500); 
	height: 730px;
	border: 1px solid #333;
  margin:0 auto;
  text-align: center;
}


.tab { 
	margin:0 auto;
  text-align: center;
}

#userImg,#npcImg{
  visibility: hidden;
}



.box1 {
  margin:0 auto;
  text-align: center;
  border: 5px dashed blue;
  padding: 0em;
  width: 600px;
}

